/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color-scheme: dark;
}


body {
  min-height: 100vh;
  background: #050505;
  color: #f5f5f5;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
  display: flex;
  justify-content: center;   
}


.content {
  width: 100%;
  max-width: 1100px;
  padding: 2rem 1.5rem 3rem;
}  */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: #050505;
  color: #f5f5f5;
}
